
/js/libs/jquery-ui-1.9.2.custom/development-bundle
/js/libs/jquery-ui-1.9.2.custom_light/development-bundle
/js/libs/Wijmo.2.3.2/Wijmo-Complete/development-bundle
/js/libs/Wijmo.2.3.2/Wijmo-Open/development-bundle
/js/libs/Wijmo.2.3.2/explore