<IfModule mod_rewrite.c>	
	# Enrutamiento mediante htacces de apache		
    RewriteEngine On
	
	#	Accesos Directos
	RewriteRule ^login 		     mvc_core/entrada.php/user/login [NC,L]   # 
	RewriteRule ^pedidos 		 mvc_core/entrada.php/pedidoi/pedidos [NC,L]   # 
	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ mvc_core/entrada.php/$1 [L]
	ErrorDocument 500 error500.html
</IfModule>